/* Principal styling @ 428px for Mobile */
/* Start of General Styling */
body {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 428px;
  margin: auto;
  color: rgba(46, 47, 66, 1);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: rgba(64, 75, 191, 1);
  color: rgba(255, 255, 255, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

.body-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.advantages-icon,
.wawd-images {
  display: none;
  visibility: hidden;
}
/* End of General Styling */

/* Start of Header Styling */
header {
  width: inherit;
  height: 70px;
  border-bottom: 1px solid rgba(231, 233, 252, 1);
}

.mobile-header {
  display: flex;
  margin: 0;
  padding-top: 25.5px;
}

.header-sitename {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  padding-left: 16px;
}

.header-span {
  color: rgba(77, 90, 229, 1);
}

.icon-mobile-menu {
  stroke: rgba(46, 47, 66, 1);
  display: flex;
  width: 32px;
  height: 22px;
  margin-left: 249px;
  justify-content: center;
  align-items: center;
}
/* End of Header Styling */

/* Start of Hero Styling */
.hero {
  height: 432px;
  text-align: center;
  color: white;
  background: rgba(46, 47, 66, 0.7);
  margin: 0;
  background-image: url("../images/splash-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

h1 {
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 112px 54px 72px 54px;
}

.order-button,
.form-button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
}

/* End of Hero Styling */

/* Start of Advantages Styling */
.advantages {
  text-align: center;
}

.wawd-advantages {
  margin: 96px 16px;
}

.advantages h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(46, 47, 66, 1);
  margin-top: 0px;
  margin-bottom: 8px;
}

@media screen and (max-width: 428px) {
  .advantages p {
    margin: 0px;
  }

  .advantages li {
    margin-bottom: 72px;
  }

  .advantages li:last-child {
    margin-bottom: 0px;
  }
}

/* End of Advantages Styling */

/* Start of Our Team Styling */
.our-team {
  background-color: rgba(244, 244, 253, 1);
  height: 2232px;
  padding-top: 96px;
}

.our-team h2 {
  margin: 0;
}

.our-team li {
  padding: 0px 0px 32px 0px;
  margin-bottom: 72px;
}

.our-team-list {
  margin: 72px 82px 0px 82px;
  text-align: center;
}

.ot-container {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  gap: 32px;
}

.ot-container img {
  width: 264px;
  height: 260px;
}

.ot-container:hover,
.ot-container:focus {
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list h3 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0px;
}

.our-team-list p {
  margin: 8px 0px;
}

.our-team-icons {
  margin: 0 auto;
  display: inline-flex;
}

.our-team-icons li {
  background-color: rgba(77, 90, 229, 1);
  padding: 0;
  margin: 0px 24px 0 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 12px;
}

.our-team-icons li:last-child {
  margin-right: 0;
}

.ot-social-icons {
  width: 16px;
  height: 16px;
  fill: rgba(244, 244, 253, 1);
  box-shadow: none;
  margin: 0px;
}

.ot-icons:hover {
  background-color: rgba(64, 75, 191, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* End of Our Team Styling */

/* Start of Customers Styling */
.customers-header {
  margin-top: 96px;
  margin-bottom: 72px;
}

.customers-icon {
  width: 428px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.customers-icon li {
  display: inline-flex;
  justify-content: center;
  align-content: center;
}

.clients-icon {
  background-color: inherit;
  display: inline-flex;
  width: 188px;
  height: 88px;
  padding: 16px 40px;
  justify-content: center;
  margin-left: 16px;
  fill: rgba(142, 143, 153, 1);
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
}

.customers-icon li:nth-of-type(2n + 1) {
  margin-bottom: 72px;
}

.customers-icon li:last-child {
  margin-bottom: 96px;
}

.clients-icon:hover,
.clients-icon:focus {
  cursor: pointer;
  border-color: rgba(64, 75, 191, 1);
  fill: rgba(64, 75, 191, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* End of Customers Styling */

/* Start of Footer Styling */
footer {
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--CLOUD, #f4f4fd);
  margin: 0px;
  padding: 97.5px 0px 96px 0px;
}

.footer-col1 {
  display: block;
  margin: 0px;
  text-align: center;
  padding: 0px 80px 0px;
}

.footer-sitename {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
}

.footer-span {
  color: rgba(77, 90, 229, 1);
}

.footer-text {
  text-align: left;
  margin-top: 17.5px;
}

.footer-col2 {
  margin: 0px;
  padding: 72px 110px 0px 110px;
  text-align: center;
}

.footer-icons-list {
  text-align: left;
  margin: 0;
  display: inline-flex;
}

.footer-socials {
  margin-bottom: 16px;
}

.footer-icons li {
  background-color: rgba(77, 90, 229, 1);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin: 0px;
  margin-right: 16px;
}

.footer-icons li:hover,
.footer-icons li:focus {
  background-color: rgba(49, 208, 170, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons li:last-child {
  margin-right: 0px;
}

.footer-social-icons {
  fill: rgba(244, 244, 253, 1);
  width: 24px;
  height: 24px;
  margin: 0;
  text-align: center;
}

.footer-col3 {
  margin: 0px;
  padding: 72px 15px 0px 15px;
  text-align: center;
}

.footer-input {
  width: 396px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 16px;
  margin-top: 16px;
}

.subscribe-button {
  margin-top: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgba(77, 90, 229, 1);
  color: var(--WHITE, #fff);
  text-align: center;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  gap: 16px;
  border-width: 0px;
  height: 40px;
}

.subButtonIcon {
  display: inline-flex;
  margin: 0px;
}

.footer-sub-icon {
  width: 24px;
  height: 24px;
  stroke: rgba(244, 244, 253, 1);
  fill: rgba(244, 244, 253, 1);
  box-shadow: none;
  align-items: center;
  margin-left: 24px;
}
/* End of Footer Styling */

/* Start of Modal Styling */
.data-modal {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: black;
}

.is-hidden {
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
}

.modal-content {
  margin: auto;
  position: relative;
  width: 392px;
  height: 584px;
  border-radius: 4px;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-content {
  padding: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(142, 143, 153, 1);
}

.modal-close-icon {
  padding: 6px;
  width: 24px;
  height: 24px;
  fill: rgba(46, 47, 66, 1);
  box-shadow: none;
  background-color: rgba(231, 233, 252, 1);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 1);
  margin-left: 336px;
}

.modal-close-icon:hover {
  cursor: pointer;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
  color: rgba(46, 47, 66, 1);
}

.form-field {
  display: block;
  position: relative;
}

.form-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
}

.form-input {
  height: 40px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
}

.form-textarea {
  margin-top: 4px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 16px;
  max-width: 360px;
  max-height: 120px;
}

.form-input,
.form-textarea {
  /* display:block -> for icon positioning */
  display: block;
  width: 360px;
  /* margin: 0 0 29px 0; */
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 0;
}

.form-input-icon i {
  position: absolute;
  padding: 11px 0px 11px 16px;
}

.form-checkbox {
  margin-bottom: 24px;
}

.form-button {
  margin-left: 95px;
  box-sizing: content-box;
  display: inline-flex;
  width: 105px;
  justify-content: center;
}

.form-terms {
  line-height: 16px;
  text-decoration: underline;
  color: rgba(77, 90, 229, 1);
}

.form-field:focus-within,
.form-input:focus-within,
.form-textarea:focus-within {
  border-color: rgba(77, 90, 229, 1);
  fill: rgba(77, 90, 229, 1);
  cursor: pointer;
}

/* End of Modal Styling */

/* Start of Menu Styling */
.icon-mobile-menu {
  cursor: pointer;
}

@media screen and (max-width: 428px) {
  .menu-container {
    visibility: hidden;
  }
}

/* Menu Styling Incomplete */

/* Start of Portfolio Styling */
.portfolio-filter {
  margin: 48px 0px 48px 16px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-filter button {
  background-color: rgba(244, 244, 253, 1);
  border: 1px solid rgba(231, 233, 252, 1);
  color: rgba(77, 90, 229, 1);
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.portfolio-filter button::after {
  margin-bottom: none;
}

.portfolio-filter button:hover {
  background-color: rgba(64, 75, 191, 1);
  color: rgba(255, 255, 255, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
  width: inherit;
  display: flex;
  padding-left: 16px;
}

.portfolio-images h3 {
  margin: 0px;
  padding-top: 32px;
  padding-left: 16px;
}

.portfolio-images img {
  width: 396px;
  height: 280px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.portfolio-images ul {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-images li {
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  width: 396px;
  height: 400px;
  overflow: hidden;
  margin-bottom: 48px;
}

.portfolio-images li:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border: 1px solid rgba(244, 244, 253, 1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images p {
  margin: 0px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 1);
  transform: translatey(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 85%;
}

.portfolio-box-img {
  position: relative;
  width: 396px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
}

.portfolio-box-img:hover .overlay {
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  color: #fff;
  padding: 30px;
  margin: 0;
  font-size: 18px;
}
/* End of Portfolio Styling */

/* Media Changes */

@media only screen and (min-width: 429px) {
  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  header {
    width: inherit;
    height: 72px;
    display: flex;
  }

  nav {
    margin: 0px;
  }

  .icon-mobile-menu {
    display: none;
  }

  .close-icon-container {
    display: none;
  }

  .menu-content {
    display: inline-flex;
    margin: 0px;
  }

  .header-nav {
    display: inline-flex;
  }

  .header-nav li {
    margin-right: 40px;
  }

  .header-nav li:last-child {
    margin-right: 0px;
  }

  header .head-link:hover,
  header .head-link:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  header .page-nav:hover,
  header .page-nav:focus {
    padding-bottom: 20px;
    border-bottom: 4px solid #404bbf;
  }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
  body {
    width: 768px;
  }

  .header-nav {
    margin-left: 120px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .header-contact {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    margin: 0 0 0 121px;
    text-align: left;
  }

  .header-contact li {
    margin-top: 16px;
  }

  .hero {
    height: 436px;
  }

  h1 {
    padding: 112px 136px 36px 136px;
  }

  .wawd-advantages ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .wawd-advantages li {
    width: 356px;
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 72px;
  }

  .wawd-advantages li:nth-of-type(2n) {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .wawd-advantages li:nth-of-type(3n) {
    margin-bottom: 0px;
  }

  .advantages-content {
    margin: 8px 0 0 0;
    width: 100%;
  }
}
