/* Start of General Styling */
body {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  width: 428px;
  margin: auto;
  color: rgba(46, 47, 66, 1);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.data-modal,
.advantages-icon,
.wawd-images {
  display: none;
  visibility: hidden;
}
/* End of General Styling */

/* Start of Header Styling */
/* temp */
.header-nav,
.header-contact {
  display: none;
  visibility: hidden;
}

header {
  width: inherit;
  height: 70px;
  border-bottom: 1px solid rgba(231, 233, 252, 1);
}

.mobile-header {
  display: flex;
  margin: 0;
  padding-top: 25.5px;
}

.header-sitename {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  display: flex;
  padding-left: 16px;
}

.header-span {
  color: rgba(77, 90, 229, 1);
}

.icon-mobile-menu {
  stroke: rgba(46, 47, 66, 1);
  display: flex;
  width: 32px;
  height: 22px;
  margin-left: 249px;
  justify-content: center;
  align-items: center;
}

/* End of Header Styling */

/* Start of Hero Styling */
.hero {
  height: 432px;
  text-align: center;
  color: white;
  background: rgba(46, 47, 66, 0.7);
  margin: 0;
  background-image: url("../images/splash-header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.hero h1 {
  margin: 0 auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 112px 54px 72px 54px;
}

.order-button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(77, 90, 229, 1);
  color: rgba(255, 255, 255, 1);
  border: 0;
}
